@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
:root {
    --main-color: rgb(219,4,4);
    font-size: 62.5%;
    --white: #fafafa;
    --black:#000;
    --white-grey: #cac7c7;
}
*{    
    text-decoration: none;
    padding:0;
    margin:0;
    line-height: 1.5;
    list-style: none;
}
body{
    
    /* 
    box-sizing: border-box;
         */
         font-family: 'Poppins', sans-serif;
}
header{   
    background: var(--main-color);
    width: 100%;
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
    position: fixed;
    z-index: 500;
}
nav ul{
    /* padding-top: 10px;
    */
    font-weight: 500; 
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: inline-block; */
}
nav ul li{
    /* display: inline-block; */
    padding:0.0625em;
    width: 100%;
}
nav ul li:hover{
    color: var(--main-color);
    background-color: var(--white);
    cursor: pointer;
    transition: 0.3s;
    
}
#logo{
    display: none;
      
}

#home{
    background: url("5.jpg");
    color: var(--white);
    background-position: center;
    background-size: cover;
}
.home{
    font-size: 2.9rem;
    padding-top: 7em;
}
.home p{
    font-size: 2rem;
    margin-top: 1em;
}
.home hr{
    color: var(--main-color);
}
h1{
    font-size: 4rem;
    line-height: 1.2;
    
}
h2,h3{
    font-size: 3rem;
    padding:0.2em;
    margin-bottom: 1em;
    
}
h5{
    font-size: 2.5rem;
    margin: 0.5em;
}
#features,#about{
    background: var(--main-color);
    color: var(--white); 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-container{
    /* text-align: center; */
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.features-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature-icons{
    font-size: 100px;
}
.features{
    font-size: 1.5rem;
    margin: 3rem;
    width: 30rem;
    border: 1px solid white;
    padding: 1.5em;
}
#information span,#information-2 span{
    font-size: 1.5rem;
}
#information-2{
    background: rgba(141, 141, 141, 0.151);
}
#purchase{
    background: url("example.jpg");
    background-position: center;
    background-size: cover;
    /* height: 500px; */
    color: white;
}
#purchase p{
    font-size: 4rem;
    font-weight: 800;
}
#form{
    background:var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 1.7rem;
    
}
input[type="text"],input[type="email"]{
    font-size: 2rem;
width: 100%;
min-height: 40px;
margin-bottom: 1em;
color: #fff;
border: 2px solid #fff;
background-color: transparent;
border-radius: 5px 5px;
}
textarea{    
    font-family: inherit;
        height: 145px;
        margin-bottom: 12px;
        width: 100%;
        padding-bottom: 10px;
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;        
        border-radius: 5px 5px;
        font-size: 2rem;
}
input[type="text"]:focus,input[type="email"]:focus,textarea:focus{
    outline: 3px solid #d6c9c9;
}

footer{
    background: #ff0000;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}


/* REUSABLE COMPONENTS*/
article{
    width: 90%;
    margin:auto;    
    text-align: center;
    padding:50px 0 50px 0;
}


.overlay{
    background: #000000b9;
}
img{    
    max-width: 100%;
    border-radius: 5px; 
    display: block;
}

/* BUTTONS */
button{    
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    padding:1rem;   
    font-family: poppins;    
    font-weight: 500;    
}
button:hover{    
    cursor:pointer;
    transition:all 0.5s;       
}
.download-button{
    font-size: 3rem;
    color: #fff;
    background:var(--main-color);
    border: 1px solid var(--main-color);
    margin-top: 2em;
    width: 70%;
}
.order-button,.purchase-button,.subscribe-button{
    font-size: 2.2rem;
    color: #fff;
    background:var(--main-color);
    border: 1px solid var(--main-color);
    margin-top: 5rem;
    width: 80%;
    text-transform: uppercase;
    font-weight: 600;
}
.download-button:hover,.order-button:hover,.subscribe-button:hover,.purchase-button:hover{
    background: rgb(255, 255, 255);
    color:var(--main-color);
    border: 1px solid rgb(164,1,1); 
}
.subscribe-button{
    margin-bottom: 3em;
}
.submit-button{
    color: var(--main-color);
    background:var(--white);
    border: 1px solid var(--main-color);
    font-size: 2rem;
    margin-top: 5rem;
    width: 100%;
    font-weight: 600;
}
.submit-button:hover{
    background: var(--main-color);
    color:var(--white);
    border: 1px solid var(--white); 
}

/* CARD */
.card{
    font-size: 1.3rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 23rem;
    height: 27em;    
    box-shadow: 2px 5px 7px 1px;
    position: relative;
    border-radius: 5px;
    margin: 3rem;
    
}
.upper-container{
    height: 120px;
    background: var(--black);
    width: 100%;
    border-radius: 5px 5px 0 0px;
}
.lower-container{
    background-color: #fff;
    margin-top:35px;
    text-align: center;
}
.profile-pic{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 13px;
    border: 2px solid var(--main-color);
}
.image-container{
    position: absolute;
    top: 13%;
    left: 25%;
}
.info{
    margin-top: 20%;
}
.name{
    text-transform: uppercase;
}
.title{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.line-2{
    color: var(--main-color);
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}
.description{
    font-family: Montserrat;
    margin-top: 1.5em;
}

.social-icons{
    font-size: 2.5rem;
    color: rgb(8, 67, 177);
    margin-top: 5px;
}
.fa-check{
    color: var(--main-color);
    font-size: 30px;
}
.fa-instagram{
    color: #ef1e43;
}
.fa-twitter{
    color: #1c99e7;
}
.fa-facebook{
    color: #3f62a9;
}
.social-icons{
    cursor: pointer;
}


/* MEDIA QUERIES */
@media(min-width:481px){    
    #logo{
        /*      
        color: var(--main-color);
        font-size: 1.2rem;
        border-radius: 50%;
        border:2px solid var(--main-color);
        padding:1.6em 0.14em;
        height: 0.8em;
        font-weight: 900; 
        font-family: Montserrat, sans-serif;
        margin: 0.625em 0 0.5em 0.625em; */
        display: unset;  
        height: 70px;
        width: 80px;
        /* border:2px solid var(--main-color) */
    }
    header{   
        background: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav{
        color: var(--black);
    }
    nav ul li{
        font-size: 1.5rem;
        display: inline;
        margin-right: 0.6em;
        font-weight: 700;
    }
    h1{
        font-size: 5rem;
    }
    h2,h3{
        font-size: 3.2rem;
    }
    h5{
        font-size: 2.7rem;
    }
    
}
@media(min-width:720px){
    .download-button,.order-button,.purchase-button,.subscribe-button,.submit-button{
        width: 50%;
    }
    .submit-button{
        font-size: 2rem;
    }
    h1{
        font-size: 5.5rem;
    }
    h2,h3{
        font-size: 3.7rem;
    }
    .information-1,.information-2{
        width: 80%;
        margin: auto;
    }
    .features{
        /* font-size: 1.5rem; */
        margin: 2rem;
        width: 22rem;
        /* border: 1px solid white; */
        /* padding: 1.5em; */
    }
    
}

@media (min-width:750px) {
    .home{
        width: 80%;
    }
    .home hr{
        width: 50%;
        /* text-align: c; */
        margin: auto;
    }
    .download-button,.order-button,.purchase-button,.subscribe-button,.submit-button{
        width: 25rem;
    }
    .form{
        width: 70%;
        margin: 0 auto;
    }
    /* .grid-view{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */
    .grid-1{
        /* grid-row: 1/2; */
        /* justify-content: center;
        justify-items: center; */
    }
    h3{
        font-size: 3rem;
        line-height: 1.2;
    }
}

@media (min-width:900px){
    .home{
        width: 90%;
    }
.grid-view{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-1,.grid-2{
        margin: auto;
    }
    .features{
        /* font-size: 1.5rem; */
        margin: 5rem;
        width: 25rem;
        /* border: 1px solid white; */
        /* padding: 1.5em; */
    }
    .card{
        margin: 5rem;
        
    }
    h2,h3{
        font-size: 3.9rem;
    }
    #purchase p{
        font-size: 5rem;
    }
}
/* 375 lines */